/Builds
/Project/ConquerTheAstrid/.idea
/Project/ConquerTheAstrid/Library
/Project/ConquerTheAstrid/Logs
/Project/ConquerTheAstrid/obj
/Project/ConquerTheAstrid/Temp
/Project/ConquerTheAstrid/UserSettings
/Project/ConquerTheAstrid/Assembly-CSharp.csproj
/Project/ConquerTheAstrid/Assembly-CSharp-Editor.csproj
/Project/ConquerTheAstrid/ConquerTheAstrid.sln
/Project/ConquerTheAstrid/.vsconfig
/Project/ConquerTheAstrid/.vs
/Project/ConquerTheAstrid/Assets/EditorThemes
